 @import "../../Colors.scss";

.expand-below-button{
    border: 2px solid $primaryColor;
    font-size: 18px;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .expand-below-arrow-icon{
        animation: expand-below-rotate90 0.3s linear;
        transform: rotate(-90deg);
    }
    &:hover{
        background: $primaryColor;
        color: $tertiaryColor;
        box-shadow: 5px 10px 18px $secondaryColor;
        .expand-below-arrow-icon{
            animation: expand-below-rotate-90 0.3s linear;
            transform: rotate(0deg);
        }
    }
}

.expand-below-button-active{
    .expand-below-arrow-icon{
        animation: collapse-rotate-back 0.3s linear;
        transform: rotate(-90deg);
    }
    &:hover{
        .expand-below-arrow-icon{
            animation: collapse-rotate-90 0.3s linear;
            transform: rotate(-180deg);
        }
    }
}

@keyframes expand-below-rotate-90 {
	from {
		transform: rotate(-90deg)
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes expand-below-rotate90 {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(-90deg);
	}
}

@keyframes collapse-rotate-90 {
    from {
		transform: rotate(-90deg)
	}
	to {
		transform: rotate(-180deg);
	}
}

@keyframes collapse-rotate-back {
    from {
		transform: rotate(-180deg)
	}
	to {
		transform: rotate(-90deg);
	}
}