@import "../../Colors.scss";

#about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width:100%;
    background: $tertiaryColor;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: wrap;
    width: 100%;
}

.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.info-header-content{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

.info-container{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

.info-about{
    width: 600px;
    display: flex;
    flex-direction: column;
    button{
        width: 200px;
    }
}

.info-picture-about{
    width: 600px;
}

#picture-about{
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
}

.external-button-container{
    display: flex;
    justify-content: center;
}
.more-info-container{
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    
}

@media only screen and (max-device-width: 768px){

    .info-container{
        margin: 20px 0;
    }
    .info-about{
        margin: 0px 20px;
    }
    
    .content-body{
        font-size: 14px;
    }

    .more-info-container{
        margin: 0px 20px;
    }

}