@import "../../Colors.scss";

#about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width:100%;
    background: $tertiaryColor;
    padding: 50px 0;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: wrap;
    width: 100%;
}
.info-container{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    font-size: 36px;
}

.info-about{
    width: 600px;
    display: flex;
    flex-direction: column;
    button{
        width: 200px;
    }
}

.info-picture-about{
    width: 600px;
}

#picture-about{
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%) sepia(50%);
    &:hover{
        filter: grayscale(0%) sepia(0%);
        box-shadow: 5px 10px $secondaryColor;
    }
}

.external-button-container{
    display: flex;
    justify-content: center;
}

.more-info-container-hide{
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    height: 0px;
    opacity: 0.0;
    transition: opacity 500ms 0ms, height 500ms 500ms;
}

.more-info-container-show{
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    height: 100%;
    opacity: 1.0;
    transition: height 500ms 0ms, opacity 500ms 500ms;
}



.skills-container{
    width: 100%;
}

.skills-body{
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skill{
    width: 300px;
}

.list-organization{
    list-style-type: none;
    list-style-position: inside;
    padding: 0 0 20px 0;
    li{
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        span{
            margin: 0 8px 0 0;
            color: $primaryColor;
            transition: all 0.5s;
        }
        div{

        }
        &:hover{
            span{
                transition: all 0.5s;
                margin: 0 1px 0 0;
            }
        }
    }
}

.skills-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.skills-logo{
    height: auto;
    width: 100%;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: 10px 20px;
}

@media only screen and (max-device-width: 1200px){
    .skills-logo{
        height: auto;
        width: 100%;
        min-width: 120px;
        min-height: 120px;
        max-width: 120px;
        max-height: 120px;
        margin: 10px 20px;
    }
    .skill{
        width: 240px;
    }
}

@media only screen and (max-device-width: 768px){

    .header-content{
        font-size: 32px;
    }

    .info-container{
        margin: 20px 0;
    }
    .info-about{
        margin: 0px 20px;
    }
    
    .body-text{
        font-size: 14px;
    }

    .more-info-container{
        margin: 0px 20px;
    }

    .skills-body{
        display: flex;
        justify-content: start;
    }
    .skills-logo{
        height: auto;
        width: 100%;
        min-width: 90px;
        min-height: 90px;
        max-width: 90px;
        max-height: 90px;
    }

    .about-list{
        padding: 0 0 0 20px;
    }
}