@import "../../Colors.scss";

.side-drawer{
    position: fixed;
    height: 100%;
    background: $primaryColor;
    width: 50%;
    max-width: 400px;
    box-shadow: 2px 0px 5px $secondaryColor;
    top: 0;
    right: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.drawer-link{
    text-decoration: none;
    color: $tertiaryColor;
    align-items: center;
    cursor: pointer;
    background: $primaryColor;
    padding: 50px 10%; 
    &:hover{
        background: $secondaryColor;
    }
}