@import "../../Colors.scss";

.navbar{
    background: $primaryColor;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #fdbb2d, #051937);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #fdbb2d, #0f489e, #051937); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:  $secondaryColor;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    z-index: 200;
    box-shadow: 0px 5px 5px $secondaryColor;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    transition: all 600ms ease-in;
    &--hidden{
        top:-60px;
    }
}

.navbar-link{
    text-decoration: none;
    color: $tertiaryColor;
    padding: 0px 50px;
    align-items: center;
    cursor: pointer;
    background: $primaryColor;
    &:hover{
        background: $secondaryColor;
    }
}

.navbar-links{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#logo{
    margin: 0px 0px 0px 30px;
    padding: 0px;
    &:hover{
        background: $primaryColor;
    }
    img{
        height:55px;
    }
}

.spacer{
    display: flex;
    flex: 1;
}

